* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 500 1rem Inter, sans-serif;
}

:root {
  --white: #fff;
  --blue: #3483fa;
  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;
  --green-500: #04d361;
  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

button {
  cursor: pointer;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #07574c;
  margin: 1em 0;
  padding: 0;
}

a:hover {
  color: #24c2ad!important;
  transition: color .1s;
  text-decoration: pointer!important;
}

.search-bar {
  width: 100%;
  background: white;
  padding: 0.3rem;
  border: solid 1px silver;
  display: flex;
}

.search-bar input {
  all: unset;
  flex: 1;
  color: black;
  font-size: 1rem;
}
.search-bar input::placeholder {
  color: silver;
  font-size: 1rem;
}
.search-bar button {
  all: unset;
  color: silver;
}
.search-bar button:hover,
.card:hover {
  cursor: pointer;
}

#logo {
  width: 7rem;
  height: 5rem;
  border-radius: 20px;
}


.navbar {
  background: #425351;
}

.nav-item {
  font-size: 1.5rem;
}

.carousel h3, 
.carousel p {
  font-size: 150%;
  font-weight: bolder;
  color: yellow;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: rgb(66, 63, 63);
}

.row.courses > div {
  padding: 0.5rem;
}

.box-courses {
  background: #f5f5f5;
  padding: 3rem 0;
  border: solid silver 1px;
  border-bottom: 5px solid #008f7b;
}
.box-courses > div {
  padding: 0.5rem;
  font-size: 1.3rem;
}
.box-courses a,
.box-courses a:visited {
  color: #008f7b;
  transition: color .1s;
  font-weight: bolder;
}

.card-title,
.card-text {
  font-size: 150%;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: rgb(66, 63, 63);
  text-align: center;
}

#divider_built_with_images.row > div {
  padding: 0rem;
}

#divider_built_with_images.row img {
  filter: brightness(50%);
}

.card .card-body p a {
  color: #000; 
  font-weight: bold;
}

.action-schedule {
  margin-top: 60px;
  padding: 110px 0;
  background: url("/images/bg-action-agenda.jpg") top center no-repeat;
}

.action-schedule button {
  background-color: transparent;
  border: 1px solid white;
  padding: 1rem 2rem;
  color: white;
}
.action-schedule button:hover {
  background-color: white;
  color: #008f7b;
}
.action-schedule button span {
  font-size: 1.5rem;
}

footer {
  background-color: #034137;
}

.div-link-top {
  width: 3rem;
  height: 3rem;
  border-radius: 50% 50% 0 0;
  margin-top: -1.5rem;
  background-color: #034137;
  color: white;
}
.link-top {
  display: block;
  margin-top: 0.5rem;
}
.link-top:hover {
  margin-top: 0.4rem;
}

.contacts > div {
  margin: 0.5rem;
}
.contacts i {
  color: #28c4af;
}
.contacts span, div, a {
  font-size: 0.75rem;
  color: #92A6A2;
}

.btn-contact-us {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.75rem 1rem;
  color: white;
  font-size: 1rem;
}
.btn-contact-us:hover {
  background-color: white;
  color: #008f7b;
}

.contacts .social-networks i {
  color: #92A6A2;
  font-size: 1.5rem;
}